body {font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8f0;}

header {background-color: #b22222;
    color: white;
    padding: 15px;
    text-align: center;}

nav ul {list-style: none;
    padding: 0;}

nav ul li {display: inline;
    margin: 0 15px;}

nav ul li a {color: white;
    text-decoration: none;
    font-weight: bold;}

section { padding: 40px;
    text-align: center;}

#menu ul {list-style: none;
    padding: 0;}

footer {background-color: #b22222;
    color: white;
    text-align: center;
    padding: 10px;}